{% extends "base.html" %}

    {% block content %}

    <h1>CHI SONO</h1>
    <p>Ciao! <br>
    Se sei arrivato fin qui, vuol dire che hai scaricato il mio progetto di blog Django dal mio GitHub. <br>
    Io sono Roberto e sono un Web Developer. Ti piacciono i miei lavori? <br>
    Se vuoi, puoi scaricare anche tutti gli altri progetti. <br>
    <br>
    Al momento, per le mie app utilizzo: <br>
    <ul>
        <li>Python (Django e Flask)</li>
        <li>JavaScript (Angulr e Vue)</li>
        <li>HTML5</li>
        <LI>CSS3</LI>
        <li>Bootstrap</li>
    </ul>

    Ma sto studiando per migliorarmi e imparare nuovi linguaggi.
    Seguimi!

        
    </p>

    {%endblock content%}