{% extends "base.html" %}

    {% block content %}

        <h1>CONTATTI</h1>
        <img src="/media/programming.jpg" width ="600" alt="Contattami!"> <br><br>
        <ul>
            <li>Sei un recruiter in cerca di personale per la tua azienda?</li>
            <li>Hai fondato una tua Software House e sei alla ricerca di collaboratori?</li>
            <li>Sei un commerciante e hai bisogno di qualcuno che ti aiuti con il tuo sito e-commerce?</li>
        </ul>
        <p>Contattami alla mail: robertoromagnoli@yahoo.com</p>

    {%endblock content%}